/*----page d'accueil---------*/

body {
    font-family:"Akaya Telivigala";
}
/*--header---*/

header {
    display: flex;
    position: relative;
    height: 80px;
    background-color:#fcf0fb ;
    box-shadow: 0px 5px 5px #cebfbf;
}

a {
    color : black ;
}

ul.nav {
   margin-top: 20px; 
   font-weight: bold;
   font-size: 18px;
   position: absolute;
    right:50px;
}

ul.nav li a:hover{
    color: rgb(192, 133, 133);
}

.logo {
    width:200px;
    height: 80px;
    object-fit: cover;
}

/*----fin du header----*/
/*---------main---------*/
h2, h3 {
    text-align: center;
}

h2 {
    margin-top:40px;
}

#affichage-produit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center; 
}

.card {
    margin-top:30px;
    margin-bottom: 20px;
    width: 25rem;
}

.citation {
    margin:50px;
    color: rgb(192, 133, 133);
}

em {
    color: rgb(192, 133, 133);
}
/*-----fin main------*/
/*-----footer--------*/
 footer {
    height: 80px;
    background-color:#fcf0fb ;
    box-shadow: 0px 5px 5px #cebfbf;  
 }

 .nav-link.active {
    background-color: transparent !important;
    color: black!important;
    }

.nav-link.active:hover {
    color:rgb(192, 133, 133) !important;
}
/*-----fin footer------*/
/*------------page produits-------------*/
#affichage-teddy, .card {
    text-align: center;
    border: 1px solid grey;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px rgb(192, 133, 133);
    border-radius: 15px;
    height: 530px;
}
#affichage-teddy { 
width: 50%;
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;  
}

#teddy > img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 300px;
}

.confirmation {
   display: none;
   width: 50%;
   position:absolute;
   top:50%;
   left:30%;
   background-color: #cebfbf;
}

.fermer {
    font-size: 14px;
    border: 0px;
    border-radius: 10px;
    background-color: rgb(192, 133, 133);
    text-align: center;
} 

a {
    text-decoration: none;
}

.fermer a:hover {
    color: #fcf0fb !important ;
}

.envoyer, select {
    border: 2px solid #cebfbf;
    border-radius: 7px;
    margin-left: 30px;
    background-color: rgb(192, 133, 133);
}

.nom-teddy {
    font-size: 20px;
    font-weight: bold;
}

.prix {
    font-size: 20px;
    font-weight: bold;
}

.btn-primary {
    background-color: rgb(192, 133, 133) !important;
    border: #cebfbf;
}
/*--------page panier-------*/
.container-panier-vide, .btn-tous-supprimer {
    border : 2px solid rgb(192, 133, 133);
    margin: auto;
    font-size: 20px;
    width: 50%;
    display: flex;
    justify-content:center;
    margin-top: 30px;
}

.btn-tous-supprimer {
    background-color: rgb(192, 133, 133) !important;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px grey;
    min-width:20% ;
}

.container-affichage {
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(192, 133, 133);
    margin-top:50px !important;
    box-shadow: 3px 3px 5px grey;
    font-weight: bold;
    width: 50%;
    height: 55px;
    flex-direction: row;
    flex-wrap: wrap; 
    margin: auto;  
}

.name, .prix {
    margin: auto;
    margin-left: 10px;
    font-size: 18px;
}

tr > td > img {
    width: 20%;
    height: 50px;
}

.table {
    margin-top: 20px;
    border-top: 1px solid rgb(223, 221, 221);
}

.image {
    display: flex;
}

.supprimer {
    border: 0px;
    color: rgb(192, 133, 133);
    background-color: transparent;
}

#container-panier {
  display: flex;  
  flex-direction: column;
}

.affichage-prix-total {
 text-align: center;
 background-color: rgb(192, 133, 133);
 height: 30px;
 min-width: 20%;
 margin: auto;
 box-shadow: 4px 4px 5px grey;
}

.formulaire {
    width:70%;
    margin: auto;
    margin-bottom: 50px;
}

.verification {
    width: 100%;
    height: 40px;
    font-size: 13px;
    margin: auto;
    margin-bottom: 10px;
}

/*-----------page confirmation---------------*/
.image-fond  {
    width: 50%;
    height: 150px;
    object-fit: cover;
   display: flex;
   margin: auto;
   
}

 .btn-fermer {
    background-color: rgb(192, 133, 133);
    border-radius: 10%;
    padding: 10px;
    border: rgb(192, 133, 133);
}

#confirmation-commande {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.remercier {
    width: 100%;
    height: 135px;
    object-fit: cover;
    margin: auto;
}

img {
    object-fit: cover;
}


/*---------------media queries---------------------*/
@media screen and (max-width:460px) {
    .image-fond {
        width: 100%;
    }

    #confirmation-commande {
        margin-bottom: 50px; 
    }

    .nav-pills {
    flex-direction: column;
    position: absolute;
    left: -10px;
    }

    footer {
        height: 170px;
    }

    header > ul.nav {
        flex-direction: column;
        position: absolute;
        top: -25px;
        left: 75%;
    }

    .card-img-top {
        height: 250px
    }

    .card {
        width: 95%;
        height: 450px;
    }

    .citation {
        width: 100%;
        margin: 0px;
    }

    #affichage-teddy {
        width: 95%;
    }

    .confirmation{
        left: 10%;
        width: 80%;
    }

    .container-affichage {
        width: 100%;
    }

    .formulaire {
        width: 90%;
    }

}

@media screen and (min-width: 461px) and (max-width:700px) {
    #affichage-teddy {
        width: 80%;
    }

    #teddy > img {
        height: 250px
    }

    .confirmation {
        width: 80%;
        left: 10%;
    }

    .container-affichage {
        width: 80%;
    }
}

@media screen and (min-width:701px) {
    .confirmation {
        width: 50%;
    }

    #affichage-teddy {
        width: 60%;
    }

}
